Memberships

* (Not logged in) User should see Basic plan Sign up link
* (Not logged in) User should see Pro plan Sign up link
* Basic plan link should point to normal registeration form
* Pro plan link should point to custom registeration form

Stripe Integration
* Users should have a stripe customer token in the users table.
* Javascript should prevent Pro form from submitting, when user fills it out,
and should send card info to Stripe. Stripe will return with a card token.
* Javascript should send user fields and card token to our rails app. Rails app
should validate the user fields. Rails app will note whether plan 1 or plan 2.
* Once validated, Rails should send user info (email, plan id) and card token
to Stripe server and Stripe will create a subscription and send back customer
token. Rails should save customer token and user information to our database.



















****AFTER TUTORIAL SHAIT!*****

* Etusivu
 - Lajikohtainen selaus, jalkapallo, jääkiekko yms?
* Joukkueen luonti sivu
* Joukkue sivu
 - Joukkueen etusivu ( Laji, Kotipaikka, Jäsenmäärä, Esittely, Sarjataso. )
 - Pelaajat
 - Tulevat vuorot / Pelit
 - Keskustelu
* Kirjautuminen Basic tai Pro (Höntsä, Amateur, Professional?) ( Facebook, Google, etc. )
* "Ilmoittaudu turnaukseen" Harraste liigojen turnaukset ja niiden tilastointi. (Palkintoja?)
* Turnauksiin sisään EHKÄ Pro jäsenyydellä (Jokainen turnaukseen osallistuja, oltava pro member)
 - Tuomarointi ja laillisuus?
 - Todennus

* Tietoja meistä / FAQ
* GDPR
* Kuvalähteet