.avatar-show-img {
    width: 128px;
    height: 128px;
}

.well.description-block {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    h3 {
        margin-top: 0;
    }
}

.container.center-align-form {
    margin-top: 100px;
}

// User Index page styles

.user-index-avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.well.white-bg {
    background: white;
    
}